version: "3"
services:
    bowmore_app:
        container_name: bowmore_app
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ./app:/var/www/html:cached
        ports:
            - "80:80"
        depends_on:
            - bowmore_db
    bowmore_db:
        container_name: bowmore_db
        image: mysql:8.0
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: bowmore_db
            MYSQL_USER: bowmore
            MYSQL_PASSWORD: bowmore
        volumes:
            - ./data/:/var/lib/mysql
